:host {
  display: flex;
  width: calc(25% - 30px);
}

.recommended-card {
  background-color: var(--secondary);
  border-radius: 8px;
  overflow: hidden;
  min-height: 400px;
  transform: scale(1);
  transition: transform 0.3s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  &__img-wrapper {
    height: 60%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
