.dropdown {
  position: relative;
  background-color: var(--secondary);
  padding: 8px 12px;
  border: 1px solid var(--border);
  border-radius: 8px;
  min-width: 80px;

  &:hover {
    cursor: pointer;
  }

  &.active {
    .dropdown__content {
      display: flex;
    }

    .dropdown__icon svg {
      transform: rotate(-180deg);
    }
  }

  &__content {
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: var(--secondary);
    width: 100%;
    left: 0;
    top: calc(100% + 4px);
    border-radius: 8px;
    overflow: auto;
    max-height: 160px;
  }

  &__item {
    padding: 4px 8px;

    &:hover {
      background-color: var(--border);
    }
  }

  &__icon {
    svg {
      transform: rotate(0deg);
      transition: transform 0.3s ease;
    }
  }
}
