.dashboard {
  width: 100%;

  h3 {
    font-size: 2rem;
    margin: 0;
  }

  &__top {
    display: flex;
    flex-direction: row;
  }

  &__dropdowns {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-left: auto;
  }
}
