/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #030029;
  --secondary: #1b1938;
  --white: #fff;
  --border: #59549d;
}

body {
  margin: 0;
  color: var(--white);
  background-color: var(--primary);
}
